.table-wrapper {
  overflow-x: scroll;
}

.table {
  width: 100%;
  min-width: 728px;
  border-collapse: collapse;
}

.table-body {
  background-color: var(--background-color-table);
}

.table-body__row {
  height: 60px;
  border-bottom: 1px solid var(--border-color-table);
}

.table-body__cell {
  padding: 0;
}

.table-body__cell:nth-child(1) {
  width: 80px;
  color: #b0b0b0;
  font-size: 12px;
  text-align: center;
}

.table-body__cell:nth-child(2) {
  width: 218px;
}

.table-body__cell:nth-child(3),
.table-body__cell:nth-child(4) {
  width: 98px;
}

.table-body-cell__time {
  color: #b0b0b0;
}

.table-body__cell:nth-child(5) {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 129px;
  height: 60px;
}

.table-body-cell__contact:not(:nth-child(5n)) {
  margin-right: 7px;
}

.table-body-cell__contact:nth-last-child(n + 6) {
  margin-bottom: 7px;
}

.table-body-cell__btn:not(:last-child) {
  margin-bottom: 8px;
}

.table-body-cell-btn__icon {
  opacity: .7;
}

@media (width >= 768px) {
  .table-wrapper {
    overflow-x: auto;
  }
}

@media (width >= 1024px) {
  .table-body__cell:nth-child(1) {
    width: 90px;
  }

  .table-body__cell:nth-child(2) {
    width: 233px;
  }

  .table-body__cell:nth-child(3) {
    width: 158px;
  }

  .table-body__cell:nth-child(4) {
    width: 146px;
  }

  .table-body-cell__time {
    margin-left: 10px;
  }

  .table-body__cell:nth-child(5) {
    width: 113px;
  }

  .table-body-cell__btn:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}
